@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library</h1>
    <p class="lead">Discover a world of books at your fingertips.</p>
</div>
